@charset "UTF-8";

body {
	margin: 0 auto;
	text-align: center;
}

li {
	list-style: none;
}

#list {
	float: left;
	margin: 0 auto;
}

.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
}

